################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netcoreapp3.0
/obj/Debug/netcoreapp3.0
/obj
/.vs/Solutions/v16/Server/sqlite3
